<template name="courses">
    <div class="content">
        <div v-if="$route.params.id" class="course-tree">
            <top-bar back-link="/courses" back-link-text="Back to courses" />

            <div v-if="course == null" class="error">Course not found</div>
            <course-tree v-else v-bind:course="course" mode="edit"></course-tree>
        </div>
        <div v-else class="courses">
            <top-bar back-link="/" back-link-text="Back to home" />
            <h2>Select course to study</h2>
            <list-editor 
                v-bind:items="courses" 
                v-bind:can-add="canAdd"
                v-bind:can-edit="canEdit"
                v-bind:can-remove="canEdit"
                new-item-text="Create a new course"
                v-on:add="CoursesApi.addCourse('New course')"
                v-on:edit="editCourse"
                v-on:remove="CoursesApi.removeCourse">
                <template scope="props">
                    <button class="button-link" v-on:click="selectCourse(props.item)">
                        {{props.item.name}}
                        ({{sentencesCount[props.item._id]}} sentences)
                    </button>
                </template>
                <template slot="buttons" scope="props">
                    <button class="button-icon" v-on:click="downloadCourse(props.item)"><i class="fa fa-download"></i></button>
                </template>
            </list-editor>
            <p class="description">
                If you want to get access to editing a course (or adding a new one), please send me an email <a href="mailto:yorunohikage@gmail.com">yorunohikage@gmail.com</a> or contact me on Twitter <a href="https://twitter.com/yorunohikage">@yorunohikage</a>.
            </p>
        </div>
    </div>
</template>