<head>
    <meta charset="utf-8" />     
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Arimo|Bungee|Dosis" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <title>Learn Breton - Apprendre le breton façon Duolingo</title>
</head>

<body>

    <div id="app">
        <router-view></router-view>
    </div>

</body>
